body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-image: url(../images/bag4.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-position: relative;
    background-attachment: fixed;
    text-align: center;
    max-width: 100%;
  
}

h1 {
	text-align: center;
	font-family: courier;
	font-size: 80px;
    box-sizing: border-box;

}

.btn-group button {
    background-color: #ffffff;
    opacity: .4;
    border: 10px #CD853F; 
    color: black; 
    padding: 10px; 
    cursor: pointer; 
    width: 20%; 
    display: block; 
    margin: auto;
    font-size: 60px;
    font-family: courier;


}


.btn-group button:hover {
    background-color: 	#CD853F;
}

.footer{
	position: fixed;
    bottom: 0;
    right: 0;
}
.btn-group2 button {
	background-color: #ffffff;
    opacity: .4;
    border: 100px #CD853F; 
    color: black; 
    padding: 0px; 
    cursor: pointer; 
    width: 40%; 
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    font-size: 50px;
    font-family: courier;

}

.btn-group2 button:hover {
    background-color: 	#CD853F;
}

.login{
    border: 100px #CD853F; 
    color: black; 
    padding: 0px; 
    cursor: pointer; 
    width: 40%; 
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    font-size: 50px;
    font-family: courier;

}

.register{
    border: 100px #CD853F; 
    color: black; 
    padding: 0px; 
    cursor: pointer; 
    width: 40%; 
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    font-size: 50px;
    font-family: courier;

}

.btn-group3{
    border: 10px #CD853F; 
    color: black; 
    padding: 10px; 
    cursor: pointer; 
    width: 20%; 
    display: inline; 
    margin: auto;
    font-size: 60px;
    font-family: Times New Roman;
    text-align: center;

}

#button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    font-size: 20px;
    width: 100px;
}

#button2 {
    background-color: white;
    color: black;
    border: 3px solid #4CAF50;
    font-size: 20px;
    width: 75px;
    border-radius: 12px
}

.add{
    border: 100px #CD853F; 
    color: black; 
    padding: 0px; 
    cursor: pointer; 
    width: 40%; 
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    font-size: 50px;
    font-family: courier;
}

input {
    width: 40%;
    padding: 0 20px;
    box-sizing: border-box;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    box-sizing: border-box;
}

.topcorner{
   position:fixed;
   top:0;
   right:0;
}

#addlist {
    color: black;
    border: 10px solid #4CAF50;
    font-size:30px;
    width: 40%;
    border-radius: 16px;
}