<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/styles.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>The Eve Shopping list</title>

</head>
<body>

<h1><b>The Eve Shopping List</b></h1>
<div class="topcorner">
	<div class="row">
		<button id="button2" onclick="location.href='/';">Home</button>
        <button id="button2" onclick="location.href='/login';">Logout</button>
	</div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

{% if error %}
<p><strong>Error:</strong> {{ error }}
{% endif %}

<div class="add">
<form action="/addshoppinglist" method="post" class="form-group">
    <div class="form">
        <header class="logo">
            <h2>Add a Shopping List</h2>
        </header>
        <h4>Shopping List details:</h4>
    Name:<br>
    <input type="text" class="fields" required="required" name="listname" placeholder="Name of shopping list">
    <br>
    Add Items:<br>
    <input type="text" class="fields" required="required" name="additems" placeholder="Use 'and' to seperate items">
    <br>
    <br>
    <input type="submit" class="givebutton" value="Add" id="button1" onclick="location.href='view';">
        </div>
</form>
</div>
<div class="footer"><img src="images/bag6.png">
</div>
</body>
</html>