<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>The Eve Shopping List</title>
</head>
<body>
<h1><b>The Eve Shopping List</b></h1>
<div class="topcorner">
  <div class="row">
    <button id="button2" onclick="location.href='/';">Home</button>
        <button id="button2" onclick="location.href='/login';">Logout</button>
  </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

{% if error %}
<p><strong>Error:</strong> {{ error }}
{% endif %}

<div class="btn-group2">
<div class="row">
  <button id="groceries">Groceries
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <span><strong>Add</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  <span><strong>Edit</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
  <span><strong>View</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  <span><strong>Delete</strong></span>
  </a>
	

  </button>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
  <button id="books">Books and Newspapers
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <span><strong>Add</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  <span><strong>Edit</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
  <span><strong>View</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  <span><strong>Delete</strong></span>
  </a>
  </button>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
  <button id="sanitary">Sanitary
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <span><strong>Add</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  <span><strong>Edit</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
  <span><strong>View</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  <span><strong>Delete</strong></span>
  </a>
  </button>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
  <button id="beauty">Beauty products
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <span><strong>Add</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  <span><strong>Edit</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
  <span><strong>View</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  <span><strong>Delete</strong></span>
  </a>
  </button>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
  <button id="hardware">Hardware store
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <span><strong>Add</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  <span><strong>Edit</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
  <span><strong>View</strong></span>
  </a>
  <a href="#" class="btn btn-default a-btn-slide-text">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  <span><strong>Delete</strong></span>
  </a>
  </button>
  </div>
  <br>
  <br>
  <br>
  <button id="addlist" onclick="location.href='addshoppinglist';">Add a shopping list</a></button>

</div>
<div class="footer"><img src="images/bag6.png">
</div>
</body>
</html>