<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content>
<meta name="author" content>
	
	<link rel="stylesheet" type="text/css" href="design/UI/css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>The Eve Shopping list</title>

</head>
<body>

<h1><b>The Eve Shopping List</b></h1>
<div class="topcorner">
	<div class="row">
		<button id="button2" onclick="location.href='view.html';">Home</button>
        <button id="button2" onclick="location.href='login.html';">Logout</button>
	</div>
</div>
<div class="btn-group">
  <button id="login" onclick="location.href='login.html';">Login</button>
  <br>
  <button id="register" onclick="location.href='register.html';">Register</button>
</div>
<div class="btn-group3">
	<h4><i>Connect to us via</i></h4>
	<div class="row">
	<a target="_blank" title="find us on Facebook" href="https://www.facebook.com/evar.ndanu"><img alt="find us on facebook" src="images/fb2.png" width="40px" height="40px"></a>
	<a target="_blank" title="find us on Facebook" href="https://www.facebook.com/evar.ndanu"><img alt="find us on twitter" src="images/twitter.jpg" width="40px" height="40px"></a>
	<a target="_blank" title="find us on Facebook" href="https://www.facebook.com/evar.ndanu"><img alt="find us on linkedin" src="images/linkedin.png" width="40px" height="40px"></a>
    </div>
</div>

<div class="footer"><img src="images/bag6.png">
</div>
</body>
</html>